<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>"Cassiopeya:The New World"</title>
  <link rel="icon" href="favicon.ico">
  <meta name="viewport" content="width=devise-width, initial-scale=1">
  <meta name="robots" content="index,follow,noodp">
	<link rel="stylesheet"  href="../../css/index.css">
</head>
<body>
  <!-- HEADER  -->
  <!-- <audio src="sound/Dark Ambient Melodies.waw" autoplay="autoplay"> </audio> -->
	<div class="wrapper_game_room">
		sdafsdf
	</div> 
<!-- <script src="BorderOutlineSystem(BOS)/outline.js"></script> -->
<!-- <script src="../../js/index.js"></script>		  -->
</body>
</html>