<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>"Cassiopeya:The New World"</title>
  <link rel="icon" href="../../favicon.ico">
  <meta name="viewport" content="width=devise-width, initial-scale=1">
  <meta name="robots" content="index,follow,noodp">
	<link rel="stylesheet"  href="../../css/index.css">
</head>
<body>
  <!-- HEADER  -->
  <audio src="../../sound/Sands of Arrakis - An EPIC Ambient Music Journey - Inspired By The Movie DUNE [V.waw" autoplay="autoplay"> </audio>
	<div class="wrapper_game_room">
		<div class="top_menu">
      <li>Торий :<span>3 455</span></li>
      <li>Берилий :<span>12</span></li>
      <li>Уран :<span>347</span></li>
      <li>Камень :<span>2 024</span></li>
      <li>Дейтерий :<span>258</span></li>
      <li><a href="../../index.html">Меню</a></li>  
    </div>
    <div class="game_scope">
      <div class="canvas_container"></div>
      <div class="game_tools"></div>
    </div>
    <div class="bottom_menu"></div>
	</div> 
<!-- <script src="../../BorderOutlineSystem(BOS)/outline.js"></script> -->
<script src="game_room.js"></script>		 
</body>
</html>