.wrapper_game_room{
	width: 100%;
	height: 100vh;
	background-color: #282c34;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.top_menu,.bottom_menu{
	width: 100%;
	height: 30px;
	background-color: grey;
	background: url(../../img/build/bg_resurce.png) no-repeat;
	background-size: 100% 100%;
}
.top_menu{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.top_menu li{
	position: relative;
}
.top_menu li:before{
	display: block;
	content: '';
	width: 20px;
	height: 20px;
	/*border: 1px solid white;*/
	position: absolute;
	left: -25px;
	top: -2px;
}
.top_menu li:nth-child(1)::before{
	background: url('../../img/build/toriy.png') no-repeat;
	background-size: cover;
}
.top_menu li:nth-child(2)::before{
	background: url('../../img/build/beriliy.png') no-repeat;
	background-size: cover;
}
.top_menu li:nth-child(3)::before{
	background: url('../../img/build/uran.png') no-repeat;
	background-size: cover;
}
.top_menu li:nth-child(4)::before{
	background: url('../../img/build/stone.png') no-repeat;
	background-size: cover;
}
.top_menu li:nth-child(5)::before{
	background: url('../../img/build/deyteriy.png') no-repeat;
	background-size: cover;
}

.top_menu li span{
	margin-left: 10px;
	color: #4ed32f;
}
.top_menu li:hover{
	cursor: pointer;
}
.game_scope{
	display: flex;
}
#canvas_container{
	width: 85%;
	height: calc(100vh - 60px);
	background: #1a1a1a;
	/*border: 1px solid white;*/
	/*border-left: 5px solid white;*/
}
.game_tools{
	width: 15%;
	height: calc(100vh - 60px);
	background-color: #282c34;
	border-left: 3px solid #404754;
	border-top: 1px solid #404754;
	border-bottom: 1px solid #404754;
}
#canvas_container{
	background: #D1BF81;
}
.properties_block{
	display: flex;
	flex-wrap: wrap;
	/*justify-content: space-between;*/
}
.properties_block :nth-child(1){
	background: url(../../img/build/mini_sprite.png);
	background-position: 45px -135px;
}
.properties_block :nth-child(2){
	background: url(../../img/build/mini_sprite.png);
	background-position: -135px -360px;
}
.properties_block :nth-child(3){
	background: url(../../img/build/mini_sprite.png);
	background-position: -315px -405px;
}
.properties_block :nth-child(4){
	background: url(../../img/build/mini_sprite.png);
	background-position: -360px -765px;
}
.properties_block :nth-child(5){
	background: url(../../img/build/mini_sprite.png);
	background-position: -90px -900px;
}
.properties_block :nth-child(6){
	background: url(../../img/build/mini_sprite.png);
	background-position: -360px -900px;
}
.properties_block :nth-child(7){
	background: url(../../img/build/mini_sprite.png);
	background-position: -720px -900px;
}
.properties_block :nth-child(8){
	background: url(../../img/build/mini_sprite.png);
	background-position: -90px -450px;
}
.properties_block :nth-child(9){
	background: url(../../img/build/mini_sprite.png);
	background-position: -1000px -405px;
}
.properties_block :nth-child(10){
	background: url(../../img/build/mini_sprite.png);
	background-position: -450px -180px;
}
.properties_block :nth-child(11){
	background: url(../../img/build/mini_sprite.png);
	background-position: -630px -1080px;
}
.properties_icon{
	width: 45px;
	height: 45px;
	margin: 2px 5px;
	border: 1px solid #404754;
	cursor: pointer;
	transition: 0.4s;
}
.properties_icon:hover{
	box-shadow: 0px 0px 10px 1px #86D8EA;
}

/* ///////////// CANVAS ///////////////// */
/*canvas{
	width: 100%;
	height:100%;
}*/